* {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.link {
  color: white;
  text-decoration: none;
  font-size: large;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 4px;
  padding: 2px, 4px;
  margin-top: 2px;
}
.link:hover {
  color: green;
  text-decoration: none;
  font-size: large;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 10px;
  text-transform: uppercase;
}
.login {
  color: white;
  text-shadow: 4px 4px 8px #000000;
}

.home {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.signup-dev {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}
